.form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.column {
    flex-basis: 15%;
}

.column:first-child {
    padding-left: 5px;
}

.labels {
    width: 200px;
}

.price {
    margin-top: 10px;
}

.cart {
    font-size: 20px;
    text-align: center;
    border: 0;
    background: #ffffff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    text-transform: uppercase;
}

.cart:not(:hover) {
    color: #000;
    background-color: transparent !important;
}

.cart:hover {
    color: #fff;
    background: #333;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.cart:active {
    color: #000;
}

.icons {
    margin-top: 25px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.buttons-link {
    text-decoration: none;

}

.buttons {
    border: 0;
    text-decoration: none;
    background-color: rgba(28, 28, 28, 0);
    color: #fff;
}

.child1 {
    flex-grow: 1;

}

.child {
    padding-right: 1rem;
}

.data {
    text-align: center;
}

.form-control {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 10px;
    margin-top: 10px;
}


.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .container {
        text-align: center;
    }
}

.closed .hiddenItem {
    display: none;
}

.opened .hiddenItem {
    display: block;
}

.card-img-top {
    margin-top: 30px;
}



